.loader {
  min-height: calc(100vh - 63px);
}

.snippet {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dot-flashing {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: $blue;
  color: $blue;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -25px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: $blue;
  color: $blue;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 25px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: $blue;
  color: $blue;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: $blue;
  }
  50%,
  100% {
    background-color: $dark;
  }
}
