@import './vars';
@import './loader';
@import './spinner';

input::placeholder,
option {
  color: black !important;
  font-weight: 300 !important;
}

input:required,
select:required {
  ~ label {
    &::after {
      content: ' *';
      color: $red;
    }
  }
}

.large {
  max-width: 70vw;
}

.top-search {
  &::placeholder {
    color: #fff !important;
    font-weight: 200 !important;
    font-size: 12px !important;
  }
}

.auth-login-form {
  max-width: 450px !important;
}

.auth-signup-form {
  max-width: 800px !important;
  @media (max-width: 768px) {
    max-width: 100% !important;
  }
}

.profile-pic-container {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  padding: 10px;
  @media (max-width: 768px) {
    width: 50px;
    height: 50px;
  }
  .profile-img-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .profile-img-input:hover {
    cursor: pointer;
  }
  img {
    width: 90%;
  }
}

.facility-map {
  height: 322px;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;

  .map-contacts {
    z-index: 9999;
  }
}

.divider {
  border-top: 1px solid $blue;
  margin: 10px 0;
}

.search-table {
  &::placeholder {
    color: #bdbdbd !important;
  }
}
